- comparisons = data.features.comparisons
- category_lookup = data.categories
- competitors = data.features.competitors
- competitor_keys = competitors.keys.delete_if{ |c| c[0..6] == 'gitlab_' }.sort
- competitor_categories = competitor_keys.map{ |n| competitors[n] }.keep_if{ |c| c['category'] }.collect{ |c| c.category }.flatten.uniq.compact.sort
- gitlab_keys = competitors.keys.keep_if{ |c| c[0..6] == 'gitlab_' }
- gitlab_categories = gitlab_keys.map{ |n| competitors[n] }.keep_if{ |c| c['category'] }.collect{ |c| c.category }.flatten.uniq.compact.sort
- categories = competitor_categories & gitlab_categories
- key_one ||= ''
- key_two ||= ''

-# Check if tools have features
- valid_tools = {}
- competitor_keys.each do |competitor|
  - data.features.features.each do |feature|
    - if (feature[competitor] != nil)
      - valid_tools[competitor] = true
      - break

.text-center
  .filters-container
    .dropdown.level#categories-filter
      %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
        %span Category (Any)

        %i.fa.fa-chevron-down
      %ul.dropdown-menu
        %li
          %span Category (Any)
        - categories.each do |category|
          - if category_lookup[category]
            %li{ data: { 'category-key' => category } }
              %span
                = category_lookup[category].name

    .dropdown.level#competitors-filter{ data: { selected: key_two } }
      %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
        %span Tool

        %i.fa.fa-chevron-down
      %ul.dropdown-menu
        - competitor_keys.each do |competitor_key|
          - competitor = competitors[competitor_key]
          - if (valid_tools[competitor_key] != nil)
            %li{ data: { categories: '||' + (competitor.category ? competitor.category.join('||') : '') + '||', key: competitor_key } }
              %span
                = competitor.name

    %div vs.

    .dropdown.level#gitlab-products-filter{ data: { selected: key_one } }
      %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
        %span GitLab

    %div
      %a.btn.cta-btn.accent#compare-button{ href: '#' } Compare


